---
layout: archive
title: "Research"
permalink: /research/
author_profile: true

Summary
========

My research interest is to leverage numerical modeling, algorithm development, remote sensing,
and artificial intelligence to
* develop physics-based and data-driven models to achieve high-performance modeling of
water infrastructure systems and enhance the coordination between interdependent urban infrastructure systems;
* improve the operation, control, and management of water infrastructure systems; and,
* promote the integration of technical and social components in the development of smart cities.


Projects
========
---



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

